* {
    box-sizing: border-box;
    /* overflow: hidden; */
  }

  body {
    font-family: "Roboto Slab", sans-serif;
    color: #353535;
  }

  .img-width {
    width: 100%;
  }

  .item-product-card {
    margin-left: 20px;
    border-radius: 3%;
    height: 320px;
    text-align: center;
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
    border: 0.5px solid #d2d2d2;
    border-top: none;
  }

  .item-product-card:hover {
    box-shadow: 0px 0px 11px rgba(33, 33, 33, .2);
  }




  .item-product-card .pic {
    overflow: hidden;
  }

  .item-product-card .pic img {
      height:230px;
      object-fit: cover;
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
  }

  .item-product-card .pic img:hover {
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
    transform: scale(1.2);
  }

  .item-product-card .text .content {
    padding: 10px 0px;
  }

  .item-product-card .text .content a {
    height: 1.3em;
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: .4s;
  }

  .item-product-card .text .content a:hover {
    color: #86ba09;
  }

  .item-product-card p,
  .leftProduct ul li .right p {
    color: #86ba09;
    font-weight: bold;
    font-size: 14px;
  }