<div class="item-product-card">
    <div class="pic"><a [routerLink]="['/list-product',product.id]"><img class="img-width"
                src="{{product.img}}"
                alt=""></a>
    </div>

    <div class="text">
        <div class="content">
            <a  [routerLink]="['/list-product',product.id]">{{product.name}}</a>
        </div>

        <p>{{product.price}} <u>đ</u> </p>
    </div>
</div>
