<h2 align="center">Cửa hàng trái cây</h2>
<div class="row">
    <div class="col-3" *ngFor=" let product of products">
        <app-product-item [product] ="product">

        </app-product-item>
    </div>
</div>

