p{
    text-align: center;
    font-size: 30px;

}
a{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size:22px;
    background:rgb(64, 104, 5);
    color:white;
    margin:auto;
}